<!DOCTYPE html>
<html>
  <head>
    <title>YouLock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="YouLock">
    <meta name="format-detection" content="telephone=no">

    <!-- icons -->

    <!-- iPhone 6+ -->
    <link href="img/app-icons/icon-60@3x.png"
          sizes="180x180"
          rel="apple-touch-icon">

    <!-- iPhone 5-6 (retina) -->
    <link href="img/app-icons/icon-60@2x.png"
          sizes="120x120"
          rel="apple-touch-icon">

    <!-- iOS 6 iPhone (retina) -->
    <link href="img/app-icons/icon-57@2x.png"
          sizes="114x114"
          rel="apple-touch-icon">

    <!-- iOS 6 iPhone -->
    <link href="img/app-icons/icon-57.png"
          sizes="57x57"
          rel="apple-touch-icon">
    
    <!-- launch images -->

    <!-- iPhone 6+ -->
    <link href="img/launch/launch-1080x1860.png"
          media="(device-width: 360px) and (device-height: 640px)
             and (-webkit-device-pixel-ratio: 3)"
          rel="apple-touch-startup-image">

    <!-- iPhone 6 -->
    <link href="img/launch/launch-750x1294.png"
          media="(device-width: 375px) and (device-height: 667px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone 5 -->
    <link href="img/launch/launch-640x1096.png"
          media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone (retina) -->
    <link href="img/launch/launch-640x920.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPhone -->
    <link href="img/launch/launch-320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">

    <!-- google maps API -->
    <script src='http://maps.googleapis.com/maps/api/js?v=3.16&libraries=places&sensor=true'></script>

    <!-- third party libraries -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="lib/lodash/dist/lodash.min.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/ngAutocomplete/src/ngAutocomplete.js"></script>

    <script src="js/app.js"></script>
    <script src="js/templates.js"></script>

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53161440-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="youLock" ng-controller="MapCtrl">

    <ion-pane>
      <form ng-submit="searchLocation()" blur-inputs>
        <ion-header-bar class="item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input ng-model="searchText" id="searchBar" type="search" placeholder="Search by address" autocapitalize="off" autocorrect="off">
              <button class="input-button button-icon ion-close-circled" ng-if="searchIsActive()" ng-mousedown="resetSearch()"></button>
            </label>
            <button type="submit" class="button button-clear" ng-disabled="!searchText.length">Search</button>
        </ion-header-bar>
      </form>
      
      <ion-content scroll="false" data-tap-disabled="true">
      
        <google-map
          center="map.center"
          zoom="map.zoom"
          draggable="true"
          options="map.options"
          events="map.events"
          control="map.control"
          ng-if="map.center"
          >
          <markers models="data.cityRacks" click="openLockupInfoModal" idKey="map.idKey" coords="'location'" doCluster="true" clusterOptions="{maxZoom:16, averageCenter:true, zoomOnClick:false, minimumClusterSize:10}" icon="'icon'"></markers>
          <markers models="data.userLockups" click="openLockupInfoModal" idKey="map.idKey" coords="'location'" doCluster="true" clusterOptions="{maxZoom:16, averageCenter:true, zoomOnClick:false, minimumClusterSize:10}" icon="'icon'"></markers>
          <markers models="data.sfRacks" click="openLockupInfoModal" idKey="map.idKey" coords="'location'" doCluster="true" clusterOptions="{maxZoom:16, averageCenter:true, zoomOnClick:false, minimumClusterSize:10}" icon="'icon'"></markers>
          <markers models="data.chiRacks" click="openLockupInfoModal" idKey="map.idKey" coords="'location'" doCluster="true" clusterOptions="{maxZoom:16, averageCenter:true, zoomOnClick:false, minimumClusterSize:10}" icon="'icon'"></markers>
          <markers models="data.dcRacks" click="openLockupInfoModal" idKey="map.idKey" coords="'location'" doCluster="true" clusterOptions="{maxZoom:16, averageCenter:true, zoomOnClick:false, minimumClusterSize:10}" icon="'icon'"></markers>
        </google-map>
      
      </ion-content>
      
      <ion-footer-bar class="bar-positive">
        <div class="button-bar">
          <button ng-click="openDashboard()" class="button button-icon icon ion-grid"></button>
          <button ng-click="getPosition()" class="button button-icon icon ion-navigate"></button>
        </div>
      </ion-footer-bar>
    </ion-pane>
    
  </body>
</html>
