<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">

    <link rel="stylesheet" href="css/application.css">

    <!-- google maps API -->
    <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization&sensor=false&language=en&v=3.14"></script>

    <!-- angular -->
    <script src="lib/angular/angular.js"></script>

    <!-- vendor -->
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.js"></script>

    <!-- app js -->
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="dataPortal" ng-controller="PortalCtrl">
    
    <google-map
      center="map.center"
      zoom="map.zoom"
      draggable="true"
      options="map.options"
      events="map.events"
      control="map.control"
    >
      <markers models="records" idKey="map.idKey" coords="'location'"></markers>

      <layer
        namespace="visualization"
        type="HeatmapLayer"
        show="map.showHeat"
        onCreated="map.heatLayerCallback"
      >
      </layer>

      <layer
        type="BicyclingLayer"
        show="map.showBicycling"
      >
      </layer>

    </google-map>

  </body>
</html>