<!DOCTYPE html>
<html>
  <head>
    <title>youLock Data Portal</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">

    <link rel="stylesheet" href="css/portal.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body >

    <div id="main">

      <header>
        <h1>youLock Data Portal</h1>
      </header>

      <a href="data">
        <div id="data" class="data-type">
          <h3>Data</h3>
          <h5>View data collected from the youLock app.</h5>
          <strong>Available data sets: </strong>
          <ul>
            <li>Page views on lockups</li>
            <li>GPS search locations</li>
            <li>Address search locations</li>
          </ul>
        </div>
      </a>

    </div>

  </body>
</html>