<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="css/admin.css">

    <!-- angular -->
    <script src="../lib/angular/angular.js"></script>

    <!-- vendor -->
    <script src="../lib/lodash/dist/lodash.js"></script>

    <!-- app js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="adminPortal" ng-controller="AdminCtrl">
    
    <div id="main">
      <header>
        <h1>Reports</h1>
      </header>

      <ul ng-init="getReports()">
        <li ng-repeat="report in reports" ng-class-odd="'odd'" ng-class-even="'even'">
          <div class="report-info">
            <ul>
              <li><strong># {{$index + 1}}</strong></li>
              <li><strong>Description:</strong> {{report.reportDescription}}</li>
              <li><time><strong>Date created: </strong>{{report.dateCreated}}</time></li>
            </ul>
            <button ng-click="toggleLockupInfo($index)">Show Lockup Info</button>
            
            <ul ng-show="showInfo($index)">
              <li>ID: {{activePaneInfo._id}}</li>
              <li>Address: {{activePaneInfo.address}}</li>
              <li>Description: {{activePaneInfo.description}}</li>
              <li># of Lockups: {{activePaneInfo.rackAmount}}</li>
              <li>Type: {{activePaneInfo.lockupType}}</li>
              <li>Address: {{activePaneInfo.address}}</li>
              <li>Pageviews: {{activePaneInfo.pageViews}}</li>
              <li>Created by: {{activePaneInfo.createdBy}}</li>
            </ul>
          </div>
          
          <div class="button-gutter">
            <button ng-click="deleteReport($index)">Delete report</button>
            <button ng-click="deleteLockup($index)" class="delete">Delete lockup</button>
          </div>
        </li>
      </ul>
    </div>

  </body>
</html>