body {
  background-color: #2c3e50;
}

header {
  @include outer-container;
  color: #ecf0f1;

  h1 {
    @include span-columns(8 of 10);
  }

  nav {
    @include span-columns(2 of 10);

    .logout {
      font-weight: bolder;
      text-align: center;
      line-height: 2.2em;
      height: 2.2em;
      width: 9.45em;
      margin-top: 0.3em;
      border-radius: 0.17em;
      background-color: #1abc9c;
      color: white;
    }
  }
}

.even {
  background-color: #bdc3c7;
}

.odd {
  background-color: #95a5a6;
}

button.deleteReport {
  background-color: #d35400;
}

button.deleteLockup {
  background-color: #C0392B;
}

button.showInfo {
  background-color: #2980b9;
}

.report-info {
  @include span-columns(4 of 10);
}

.button-gutter {
  @include span-columns(2 of 10);

  button {
    margin-top: 1.2em;
  }
}

.list-container {
  @include outer-container;
}

div.alert-pill {
  border: 2px solid #ecf0f1;
  // width: 3em;
  text-align: center;
  border-radius: 0.3em;
  margin-top: 0.2em;
  margin-left: 0.5em;
  font-weight: bolder;
  display: inline-block;
}

div.alert-theft {
  background-color: #8e44ad;
  color: white;
}

div.alert-missing {
  background-color: #f1c40f;
  color: black;
}

i.fa {
  margin-right: 0.2em;
}

ul.lockupInfo {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}