html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.angular-google-map {
  height: 93%;
  width: 100%;

  .angular-google-map-container {
    height: 100%;
    width: 100%;
    img {
      max-width: none;
    }
  }
}